*{
	padding :0%;
	margin: 0;
	font-family: 'Andale Mono', monospace;
	background: none;

}

/* global css variables */
@media (prefers-color-scheme: light) {
    html {
		--admiring: white;
		--adoring: pink;
		--appreciative: white; 
		--amused: yellow;
		--angry: red;
		--anxious: purple;
		--awestruck: light blue;
		--uncomfortable: white;  
		--bored: brown;
		--calm: light blue;
    	--focused: white;  
		--contemplative: white; 
		--confused: orange; 
		--contemptuous: white; 
		--content-hungry-determined-disappointed-distressed-euphoric-embarrassed-disturbed-entranced-envious-excited-guilty-horrified-interested-happy-enamored-nostalgic-proud-inspired-relieved-smitten-satisfied-desirous-ashamed-positivelysurprised-sympathetic-triumphant: white;
    	--disgusted: green; 
		--doubtful: #bd975b; 
    	--fearful: #a434eb;
		 
		--pained: maroon;  
		--sad: dark blue; 
		--negatively-surprised: green;
		
		--tired: black; 
        --primary: #E84D28;
        
    }
}

h1{
	padding-top: 100px;
	font-size: 5rem;
	text-align: center;
	color: #6f439c;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
h2{
	text-align: center;
	color: #6f439c;
  	align-items: center;
	text-align: center;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

h3{
	overflow-wrap: break-word;
	text-align: center;
  	align-items: center;
	text-align: center;
	margin: 0px 20px;
	width: 100%;
}

.recbut {
    height: auto;
	margin: 30px 20px;
    padding: 16px 24px;
    border-radius: 12px;
	justify-content: space-between;
	color: purple;

}