*{
	padding :0%;
	margin: 0;
	font-family: 'Andale Mono', monospace;
	background: none;
	color: #6f439c;


}
h1{
	padding-top: 200px;
	font-size: 5rem;
	text-align: center;
	color: #6f439c;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
h2{
	text-align: center;
	color: #6f439c;
  	align-items: center;
	text-align: center;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

h3{
	text-align: center;
  	align-items: center;
	text-align: center;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
}